# Don't track content of these folders
__pycache__/
#logs/
data/*
pretrained_models/*
codes/*
model/ssd_mobilenet_v1_coco_2018_01_28/saved_model/*
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.dmg
*.gz
*.iso
*.jar


# Other extensions#
###################
*.pyc
*.zip
*.rar
*.pb
*.ckpt.meta
*.ckpt.index

